{% extends "base.html" %}

{% block content %}
<div class="row no-gutters justify-content-center my-4">
    <div class="col-11 card card-cascade">
        <div class="card-body card-body-cascade">
            <h1 class="h1-responsive card-title font-weight-bold text-center mb-3">{{ func }} Press Article</h1>

            <form method="POST" enctype="multipart/form-data" action="">
                {{ form.hidden_tag() }}

                <div class="form-row my-2">
                    <div class="offset-md-1 col-md-2 col-lg-1">{{ form.title.label }}</div>
                    <div class="col-md-9 ">
                        {{ form.title(class_="form-control") }}

                        {% if form.title.errors %}
                            {% for error in form.title.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="offset-md-1 col-md-2 col-lg-1">{{ form.author.label }}</div>
                    <div class="col-md-9 ">
                        {{ form.author(class_="form-control") }}

                        {% if form.author.errors %}
                            {% for error in form.author.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="offset-md-1 col-md-2 col-lg-1">{{ form.agency.label }}</div>
                    <div class="col-md-9 ">
                        {{ form.agency(class_="form-control") }}

                        {% if form.agency.errors %}
                            {% for error in form.agency.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="offset-md-1 col-md-2 col-lg-1">{{ form.content.label }}</div>
                    <div class="col-md-9 ">
                        {{ form.content(class_="form-control") }}

                        {% if form.content.errors %}
                            {% for error in form.content.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="offset-md-1 col-md-2 col-lg-1">{{ form.image.label }}</div>
                    <div class="col-md-9 ">
                        {{ form.image() }}

                        {% if form.image.errors %}
                            {% for error in form.image.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="offset-md-1 col-md-2 col-lg-1">{{ form.image_caption.label }}</div>
                    <div class="col-md-9 ">
                        {{ form.image_caption(class_="form-control") }}

                        {% if form.image_caption.errors %}
                            {% for error in form.image_caption.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {{ form.submit(class_="btn gold-btn btn-block mt-3 mt-md-4", value="Submit") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}