{% extends "base.html" %}

{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/press.png') }}"
    alt="Page Banner">

<div class="row my-4 justify-content-around no-gutters" id="content-wrapper">
    <div class="col-10">
        <div class="row no-gutters">
            <div class="col card card-cascade">
                <div class="card-body card-body-cascade">
                    <!-- Title -->
                    <h1 class="h1-responsive card-title font-weight-bold text-center mb-3">Press Admin Homepage</h1>

                    <div class="row no-gutters mb-4">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <a class="btn gold-btn px-0 py-3"
                               href="{{ url_for('add_press_article') }}">
                                <h6 class="mb-0 font-weight-bold">Add Article</h6>
                            </a>
                        </div>
                    </div>

                    <div class="row no-gutters justify-content-center mb-3">
                        <div class="col-11">
                            <table class="table table-hover table-fixed">
                                <thead class="thead-dark">
                                    <tr class="d-flex">
                                        <th scope="col" class="col-3 d-none d-lg-block font-weight-bold
                                                               white-text h5-responsive">Date Published</th>
                                        <th scope="col" class="col-10 col-lg-7 font-weight-bold
                                                               white-text h5-responsive">Article Title</th>
                                        <!--th scope="col" class="col-1 font-weight-bold
                                                               white-text h5-responsive"></th-->
                                        <th scope="col" class="col-2 font-weight-bold
                                                               white-text h5-responsive"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for article in articles %}
                                    <tr class="d-flex">
                                        <td class="col-3 d-none d-lg-block">
                                            <p class="mb-0">{{ article.get_time() }}</p>
                                        </td>
                                        <th scope="row" class="col-10 col-lg-7">
                                            <p class="mb-0">{{ article.get_title() }}</p>
                                        </th>
                                        {#<!-- td class="col-1">
                                            <a class="btn gold-btn px-0 py-2"
                                               href="{{ url_for('edit_press_article', article_id=article.get_id()) }}">
                                                <h6 class="mb-0 font-weight-bold">Edit</h6>
                                            </a>
                                        </td--> #}
                                        <td class="col">
                                            <a class="btn gold-btn px-0 py-2"
                                               href="{{ url_for('delete_press_article', article_id=article.get_id()) }}">
                                                <h6 class="mb-0 font-weight-bold">Delete</h6>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}