{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
<style>
    #white-box {
        border: 5px solid black;
    }

    .md-form input:focus {
        box-shadow: 0 1px 0 0 black !important;
        border-bottom: 1px solid black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center mx-0 mt-5" style="height: calc(100vh - 150px - 56px - 48px);">
        <div class="col-11 my-5 px-0" id="white-box">
            <div class="row justify-content-center pt-md-3 pt-xl-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center font-weight-bold pt-3">PASSWORD</h3>
                        </div>
                    </div>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-row justify-content-center mb-3">
                            <div class="col-12 col-md-9">
                                <div class="md-form form-lg">
                                    {{ form.password(class_="form-control form-control-lg" ) }}
                                    {% if form.password.errors %}
                                        {% for error in form.password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-5 col-sm-3">
                                {{ form.submit(class_="btn gold-btn btn-block mt-3 mt-md-4") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}