@font-face {
    font-family: 'Avenir Next';
    font-weight: normal;
    src: url('../../fonts/avenir-next-regular.woff') format('woff'),
         url('../../fonts/avenir-next-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: bold;
    src: url('../../fonts/avenir-next-bold.woff') format('woff'),
         url('../../fonts/avenir-next-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hesterica';
    src: url('../../fonts/Hesterica.woff') format('woff'),
         url('../../fonts/Hesterica.ttf') format('truetype');
}

#aptitude-test {
    background: linear-gradient(rgba(116, 128, 130, 0.75), rgba(116, 128, 130, 0.75)), url('../../img/quiz background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: calc(100vh - 40px);
    margin-top: -24px;
}

#white-box {
    border: 5px solid white;
    max-width: 350px;
}

.title {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.5rem;
}

#aptitude {
    font-family: 'Hesterica', cursive;
    font-weight: normal;
    font-size: 5rem;
}

#message {
    /*font-family: "Avenir Next", sans-serif;*/
    line-height: 1.2rem;
    font-weight: 900;
}

@media (min-width: 576px) {
    #white-box {
        max-width: 510px;
    }

    .title {
        font-size: 2rem;
    }

    #aptitude {
        font-size: 7rem;
    }

    #message {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media (min-width: 1200px) {
    #white-box {
        max-width: 800px;
    }

    .title {
        font-size: 3.5rem;
    }

    #aptitude {
        font-size: 8.5rem;
    }

    #message {
        font-size: 1.2rem;
        font-weight: 400;
    }
}