#white-box {
    background-color: rgba(255,255,255,0.25);
    max-width: 90vw;
}

@media (min-width: 576px) {
    #white-box {
        max-width: 80vw;
    }
}

.input-group {
    background-color: #cfd8dc;
    display: block;
    margin: 10px 0;
    position: relative;
}

.input-group label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 200ms ease-in;
    overflow-x: hidden;
}

.input-group input:checked ~ label {
    color: #fff;
    background-color: #37474F;
}

.input-group input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(100, 100, 1);
    opacity: 1;
}

.input-group input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

/* Alert colour */
.swal2-popup .swal2-styled.swal2-confirm {
    background-color: rgba(218, 156, 53, 1) !important;
}