.card {
    background-color: rgba(255,255,255,0);
}

.card-header {
    background-color: white;
}

.card-body {
    background-color: rgba(255,255,255,0.3);
}

.opt {
    background-color: #cfd8dc;
    margin: 10px 0;
}

.chosen-opt {
    background-color: #37474F !important;
    margin: 10px 0;
}

hr {
    border-top: 2px solid black;
}
