@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@media (min-width: 1200px) {
    html {
        scroll-behavior: smooth;
    }
}

#content {
    margin-top: -16px;
}

#content .row {
    padding-top: 44px;
    margin-top: -44px;
}

#history {
    padding-top: 60px !important;
}

#side-menu-wrapper {
    position: sticky;
    height: calc(100vh - 22vh);
    top: 22vh;
    font-family: 'Roboto', 'sans-serif';
}

#history,
#theme-description,
#secretariat,
#ourteam,
#hacas {
    max-width: 100%;
}

/* side menu styling */
.list-group-item {
    background-color: #f8f9fa;
}

.list-group-item:hover {
    background-color: #eeeeee;
}

.list-group-item .col-10,
.list-group-item .col-1 {
    color: rgba(205,142,37, 1); /* Slightly darker version of the gold we used in the other components */
}

.list-group-item.active {
    background-color: rgba(205,142,37, 1);
    border-color: rgba(205,142,37, 1);
}

.list-group-item.active:hover {
    background-color: rgba(205,142,37, 1);
}

.list-group-item.active .col-10,
.list-group-item.active .col-1 {
    color: #ffffff;
}

/* fix href interaction with li */
#side-menu li {
    padding: 0px;
}

#side-menu li a {
    padding: 12px;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}