@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

#body-wrapper {
    margin-top: 64px;
    background-color: #f8f9fa;
    position:relative;
    font-family: 'Lato', 'sans-serif';
    line-height: 1.75rem;
}

#title-card {
    margin-top: -15px;
}

.card .card-body .card-text {
    color: black;
    font-size: 1rem;
}

.card-title {
    color: rgba(205,142,37, 1); /* Slightly darker version of the gold we used in the other components */
}

/* Text scaling */
/* Extra small devices (portrait phones, less than 576px) */
html {
    font-size: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 1.2rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 1rem;
    }
}

.gold-btn {
    width: 100%;
    background-color: rgba(218,156,53, 1);
}

.gold-btn:hover {
    color: white;
}