@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i');

#content {
    margin-top: -24px;
}

.display-3 {
    font-family: 'Playfair Display', serif;
}

@media (min-width: 992px)  {
    #content {
        height: calc(100vh - 64px + 24px - 110px);
    }
}
