@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

#body-wrapper {
    font-family: 'Raleway', 'sans-serif';
}

#PreConferenceSchedule,
#ConferenceSchedule {
    max-width: 100%;
}

.timeline-header {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    color: rgba(218,156,53, 1);
    font-size: 1rem;
    border: 2px solid rgba(218,156,53, 1);
    font-weight: 600;
}

.timeline-item.is-completed::before,
.timeline-marker.is-completed {
    background-color: rgba(218,156,53, 1) !important;
    border-color: rgba(218,156,53, 1) !important;
}

@media (min-width: 1550px) {
    .day-label-col {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}