@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: 'Dubai';
    src: url('../fonts/DubaiW23-Medium.woff') format('woff'),
         url('../fonts/Dubai-Medium.ttf') format('truetype');
}

#countdown {
    margin-top: -24px;
    height: calc(100vh - 40px);
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.8) 0%, rgba(22, 22, 22, 0.8) 85%, #161616 100%), url("../img/countdown.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#t-minus {
    visibility: hidden;
}

.navbar {
    max-height: 64px;
}

#enter {
    font-family: 'Dubai', monospace;
    color: black;
}

a:hover {
    color: #ffffff;
}

.btn-xlarge {
    padding: 1.5rem 3.6rem;
    background-color: rgb(203, 190, 183) !important;
}

h1 {
    font-size: 4.5rem;
    font-family: 'Dubai', monospace;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

@media (min-width: 990px) {
    h1 {
        font-size: 5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1550px) {
    h1 {
        font-size: 6.5rem;
    }

    h3 {
        font-size: 2.25rem;
    }
}