@font-face {
    font-family: 'Avenir Next';
    font-weight: normal;
    src: url('../fonts/avenir-next-regular.woff') format('woff'),
         url('../fonts/avenir-next-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: bold;
    src: url('../fonts/avenir-next-bold.woff') format('woff'),
         url('../fonts/avenir-next-bold.ttf') format('truetype');
}

.section-title {
    font-family: 'Avenir Next', sans-serif;
}