@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    /* Lakeshore Font */
    /* https://www.behance.net/gallery/55533227/Lakeshore-Typeface-Free-Font */
    font-family: 'Lakeshore';
    src: url('../fonts/Lakeshore-Regular.woff') format('woff'),
         url('../fonts/Lakeshore-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: bold;
    src: url('../fonts/avenir-next-bold.woff') format('woff'),
         url('../fonts/avenir-next-bold.ttf') format('truetype');
}

.carousel {
    margin-top: -24px;
}

.carousel-item img {
    max-height: calc(100vh - 40px);
}

#salutation {
    margin-bottom: -.5rem;
}

.overlay {
    color: #ffffff;
}

.overlay-h1{
    font-size: 3.25rem;
    font-family: 'Avenir Next', sans-serif;
    color: rgba(218,156,53, 1);
    font-weight: bold;
}

.overlay-h3{
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
}

.overlay-h4{
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
}

.conf-description{
    font-size: 0.9rem;
    font-family: 'Avenir Next', sans-serif;
    color: rgba(218,156,53, 1);
    font-weight: bold;
    margin-top: -10px;
}

#theme {
    font-family: 'Lakeshore', sans-serif;
    font-size: 2.5rem;
    margin-top: -25px;
}

#theme-english {
    font-family: 'Lakeshore', sans-serif;
    font-size: 2rem;
    margin-top: -20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .overlay-h1{
        font-size: 6rem;
    }
    
    .overlay-h3{
        font-size: 3rem;
    }
    
    .overlay-h4{
        font-size: 1.5rem;
    }

    .conf-description{
        font-size: 1.5rem;
    }

    #theme-english {
        font-size: 4rem;
        margin-top: -30px;
    }

    #theme {
        font-size: 7rem;
        margin-top: -50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .overlay-h1{
        font-size: 7.5rem;
    }
    
    .overlay-h3{
        font-size: 4rem;
    }
    
    .overlay-h4{
        font-size: 2rem;
    }

    .conf-description{
        font-size: 2rem;
    }

    #theme-english {
        font-size: 5rem;
    }

    #theme {
        font-size: 9rem;
        margin-top: -50px;
    }
}