@media (min-width: 1350px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 992px) {
    .item-title {
        font-size: 3.5rem;
    }
}

.owl-thumb-item {
    background: none;
    border: none;
}

.owl-thumb-item img {
    max-width: 75px;
}

.owl-thumb-item.active img {
    border: 1px solid black;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
}

.white-circle {
    background: white;
}

.grey-circle {
    background: #B4B8BE;
}

.cream-circle {
    background: #E8DDCA;
}

.black-circle {
    background: black;
}