/* For fixed top navbar - shown on PCs */
.navbar {
    width: 100vw;
}

.navbar .navbar-brand,
.navbar .nav-link,
#t-minus,
#register,
.mobile-nav-link {
    color: rgba(218,156,53, 1) !important;
}

.navbar .dropdown-menu .dropdown-item {
    color: rgba(205,142,37, 1);
}

#register,
#mobile-register {
    border: 2px solid rgba(218,156,53, 1) !important;
}

.navbar .btn {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.nav-flex-icons {
    margin-bottom: -.75rem;
}

#menu-toggle,
#menu-toggle:hover {
    color: rgba(218,156,53, 1);
}

#rvmun-logo {
    max-height: 35px;
}

/* For mobile navbar */

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

@media (max-width: 1200px) {
    .navbar-brand {
        margin-right: 0;
    }
}

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 400px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 400px;
    width: 0;
    height: 100%;
    margin-left: -400px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 400px;
}

#body-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #body-wrapper {
    position: absolute;
    margin-right: -400px;
}


/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    min-height: 64px;
    line-height: 40px;
    align-items: center;
}

.sidebar-nav li a {
    padding-top: 1rem;
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    min-height: 70px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav ul li {
    /* Submenus */
    background: #424242;
    list-style-position: outside;
}

.sidebar-nav ul li a {
    /* Submenu Text */
    color: rgba(218,156,53, 1);
    padding-left: 20px;
}

.sidebar-nav .btn {
    font-size: 1.5rem;
}