{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col text-center mt-5" style="height: calc(100vh - 150px - 56px - 48px);">
        <h3 class="display-3">Submission detected</h3>
        <p>We are unable to process your submission as there was another submission recorded under your account
        this week.</p>
        <p>Please contact us at rivervalleymodelun@gmail.com if you think this was a mistake.</p>
    </div>
</div>
{% endblock %}