{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center mx-0" id="aptitude-test">
        <div class="col my-5 px-0" id="white-box">
            <div class="row title no-gutters mt-5 mb-4 pt-md-4">
                <div class="col-12">
                    <p class="font-weight-bold text-center" id="title">
                        THE <span id="aptitude">Aptitude</span> TEST
                    </p>
                </div>
            </div>

            <div class="row justify-content-center pt-md-3 pt-xl-4">
                <div class="col-10">
                    <p class="white-text text-justify py-xl-3" id="message">
                        Dear delegates, are you brave enough to put yourself to the test?
                        With a combination of questions on the Rules of Procedure (ROP) and MUN trivia questions,
                        we've created an aptitude test to test your knowledge on Model UN!
                        This quiz is designed to benefit beginner or first-time delegates,
                        but feel free to try your hand in this test! Come back every week to a different challenge,
                        and aim to get the highest score possible!
                    </p>
                </div>
            </div>

            <div class="row justify-content-center mb-2 no-gutters">
                <div class="col-7 col-sm-6 col-xl-5 pb-lg-1">
                    <a class="btn gold-btn mt-auto ml-0" id="enter"
                       href="{{ url_for('aptitude_test_login') }}">
                        <h6 class="mb-0 font-weight-bold" >ENTER</h6>
                    </a>
                </div>
                <!-- Force leaderboard button to break to new line at sm breakpoint and up -->
                <div class="w-100 d-none d-sm-block"></div>
                <div class="col-7 col-sm-6 col-xl-5 pb-lg-4">
                    <a class="btn gold-btn mt-auto ml-0" id="leaderboard"
                       href="{{ url_for('aptitude_test_leaderboard') }}">
                        <h6 class="mb-0 font-weight-bold" >Leaderboard</h6>
                    </a>
                </div>
            </div>

            <!-- Round schedule -->
            <div class="d-none d-sm-block">
                {% include "aptitude_test/schedule.html" %}
            </div>
            <div class="d-block d-sm-none">
                {% include "aptitude_test/schedule_vertical.html" %}
            </div>

        </div>
    </div>

{% endblock %}