{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
<style>
    #white-box {
        background-color: rgba(255,255,255,0.25)
    }

    #welcome,
    #unavailable {
        font-size: 1.2rem;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center mx-0" id="aptitude-test">
        <div class="col-12 my-5 px-0" id="white-box">
            <div class="row title no-gutters mt-5 mb-4 pt-md-4">
                <div class="col-12">
                    <p class="font-weight-bold text-center" id="title">
                        THE <span id="aptitude">Aptitude</span> TEST
                    </p>
                </div>
            </div>

            <div class="row justify-content-center pt-md-3 pt-xl-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <p class="font-weight-bold text-center mt-1 mt-md-4 mb-2" id="welcome">
                                Welcome, {{ acc.get_name() }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p class="instruction font-weight-bold">Instructions:</p>
                            <ol>
                                <li><p class="instruction font-weight-bold">
                                    For every question answered correctly, 100 points will be given.
                                </p></li>
                                <li><p class="instruction font-weight-bold">
                                    You have 1 minute to answer each question.
                                </p></li>
                                <li><p class="instruction font-weight-bold">
                                    If you do not submit your answer within the time limit, you will not receive any points for that question.
                                </p></li>
                                <li><p class="instruction font-weight-bold">
                                    The total time taken in seconds to complete each round will be deducted to give your score for the round.
                                </p></li>
                                <li><p class="instruction font-weight-bold">
                                    Points are accumulated over 5 rounds from 13 Feb to 17 March.
                                </p></li>
                                <li><p class="instruction font-weight-bold">
                                    You are only given 1 attempt for each round.
                                </p></li>
                            </ol>
                        </div>
                    </div>

                    <div class="row justify-content-center align-items-center">
                        {% if eligible %}
                        <div class="col-7 col-sm-6 col-xl-5 pb-lg-1">
                            <a class="btn gold-btn mt-auto ml-0 mb-3"
                               href="{{ url_for('start_aptitude_test') }}">
                                <h6 class="mb-0 font-weight-bold" >START</h6>
                            </a>
                        </div>
                        {% else %}
                        <div class="col-11">
                            <p class="instruction font-weight-bold text-center mt-2" id="unavailable">
                                You have attempted the quiz for this round, come back next week!
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}