{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
<style>
    tr {
        min-height: 62px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center mx-0" id="aptitude-test">
        <div class="col my-5 px-0" id="white-box">
            <div class="row title no-gutters mt-5 mb-4 pt-md-4">
                <div class="col-12">
                    <p class="font-weight-bold text-center" id="title">
                        THE <span id="aptitude">Aptitude</span> TEST
                    </p>
                </div>
            </div>

            <div class="row justify-content-center pt-md-3 pt-xl-4">
                <div class="col-11">
                    <h4 class="white-text text-justify pt-xl-3">Leaderboard</h4>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-11">
                    <table class="table table-hover table-fixed mb-4">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th scope="col" class="col-9 font-weight-bold white-text h5-responsive">Name</th>
                                <th scope="col" class="col-3 font-weight-bold white-text h5-responsive">Score</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for user in top_users %}
                                <tr class="d-flex">
                                    <td class="col-9 font-weight-bold white-text h5-responsive">{{ user[1] }}</td>
                                    <td class="col-3 font-weight-bold white-text h5-responsive">{{ user[0] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row justify-content-center mb-2 no-gutters">
                <div class="col-7 col-sm-6 col-xl-5 pb-lg-4">
                    <a class="btn gold-btn mt-auto ml-0"
                       href="{{ url_for('aptitude_test_home') }}">
                        <h6 class="mb-0 font-weight-bold" >Homepage</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}