{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
<style>
    .instruction {
        line-height: 1.2rem;
    }

    #mistake {
        font-size: 0.9rem;
    }

    #white-box {
        background-color: rgba(255,255,255,0.25)
    }

    .md-form label,
    .md-form label.active {
        color: white !important;
    }

    .md-form input {
        box-shadow: 0 1px 0 0 white !important;
        border-bottom: 1px solid white !important;
    }

    .form-control {
        color: black;
    }

    .form-control:focus {
        color: black;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center mx-0" id="aptitude-test">
        <div class="col-12 my-5 px-0" id="white-box">
            <div class="row title no-gutters mt-5 mb-4 pt-md-4">
                <div class="col-12">
                    <p class="font-weight-bold text-center" id="title">
                        THE <span id="aptitude">Aptitude</span> TEST
                    </p>
                </div>
            </div>

            <div class="row justify-content-center pt-md-3 pt-xl-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <p class="instruction font-weight-bold text-center mt-1 mt-md-4 mb-2">
                                Please enter the email address you have registered for RVMUN
                            </p>
                        </div>
                    </div>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-row justify-content-center">
                            <div class="col-12 col-md-9">
                                <div class="md-form form-lg">
                                    {{ form.email(class_="form-control form-control-lg") }}
                                    {{ form.email.label }}
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <p class="white-text">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-5 col-sm-3">
                                {{ form.submit(class_="btn gold-btn btn-block mt-3 mt-md-4", value="Enter") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row mt-3 mt-md-4">
                <div class="col-12">
                    <p class="instruction font-weight-bold text-center mt-1" id="mistake">
                        Think there might be a mistake? Contact us at
                        rivervalleymodelun@gmail.com.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}