{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.6/dist/sweetalert2.min.css">
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/aptitude_test/quiz.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center no-gutters mx-0" id="aptitude-test">
        <div class="col-12 my-5 px-0" id="white-box">
            <div class="row title no-gutters mt-5 mb-4 pt-md-4">
                <div class="col-12">
                    <p class="font-weight-bold text-center" id="title">
                        THE <span id="aptitude">Aptitude</span> TEST
                    </p>
                </div>
            </div>

            <div class="row no-gutters pt-md-3 pt-xl-4 pl-2">
                <div class="col-7 col-lg-8 offset-1">
                    <h4 class="font-weight-bold">Question {{ session['curr_qn_index'] }}</h4>
                </div>
                <div class="col-lg-3 offset-1 offset-lg-0">
                    <h4 class="font-weight-bold" id="quiz-timer">60 seconds left</h4>
                </div>
            </div>

            <form action="" method="post" id="quizForm">
                {{ form.hidden_tag() }}
                <div class="row no-gutters mt-2 pl-2">
                    <div class="col-10 col-lg-9 offset-1">
                        <h5 class="font-weight-bold">{{ form.ques.label }}</h5>
                    </div>
                </div>
                <div class="row no-gutters pl-2">
                    <div class="col-10 col-lg-9 offset-1">
                        {% for subfield in form.ques %}
                            <div class="row no-gutters">
                                <div class="col-12 input-group px-0 mb-0">
                                    {{ subfield(class_="qn-option") }}
                                    {{ subfield.label(class_="mb-0") }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row justify-content-center justify-content-md-start no-gutters mb-3 pl-2">
                    <div class="col-5 col-md-3 offset-1">
                        {{ form.submit(class_="btn gold-btn btn-block mt-3 mt-md-4", value="Next") }}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.6/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}