{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/aptitude_test/home.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/aptitude_test/quiz.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/aptitude_test/report.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center no-gutters mx-0" id="aptitude-test">
        <div class="col-12 my-5 px-0" id="white-box">
            <div class="row title no-gutters mt-5 mb-4 pt-md-5">
                <div class="col-12">
                    <p class="font-weight-bold text-center" id="title">
                        THE <span id="aptitude">Aptitude</span> TEST
                    </p>
                </div>
            </div>

            <div class="row justify-content-center pt-md-3 pt-xl-5 mt-2 mb-2 no-gutters" id="report">
                <div class="col-11">
                    <div class="card">
                        <h5 class="card-header font-weight-bold">Report</h5>
                        <div class="card-body">
                            <!-- Stats -->
                            <div class="row no-gutters justify-content-center align-items-center">
                                <div class="col-10 col-lg-3">
                                    <h1 class="font-weight-bold text-center">Accuracy</h1>
                                    <h1 class="font-weight-bold text-center">{{ num_correct }}</h1>
                                </div>
                                <div class="col-10 col-lg-3">
                                    <h1 class="font-weight-bold text-center">Your Score</h1>
                                    <h1 class="font-weight-bold text-center">{{ curr_score }}</h1>
                                </div>
                                <div class="col-10 col-lg-3">
                                    <h1 class="font-weight-bold text-center">Total Score</h1>
                                    <h1 class="font-weight-bold text-center">{{ total_score }}</h1>
                                </div>
                            </div>

                            <hr>

                            <!-- Question Report -->
                            {% for ans in answers %}
                            <div class="row no-gutters offset-xl-2 mb-2 qn-row">
                                <div class="col">
                                    <h4 class="font-weight-bold pl-2">Question {{ loop.index }}</h4>

                                    <!-- Question -->
                                    <div class="row no-gutters mt-2">
                                        <div class="col-12 col-md-10">
                                            <h5 class="font-weight-bold pl-2">{{ ans.get_question().get_question() }}</h5>
                                        </div>
                                    </div>

                                    <!-- Options -->
                                    {% for opt in ans.get_question().get_options() %}
                                    <div class="row no-gutters mt-2">
                                        <div class="col-12 col-md-10 opt pt-2 {{ 'chosen-opt' if opt == ans.get_option() }}">
                                            <div class="row pt-2">
                                                <div class="col-10">
                                                    <p class="pl-2 {{'white-text' if opt == ans.get_option() }}">
                                                        {{ opt.get_option() }}
                                                    </p>
                                                </div>

                                                {% if opt.is_correct_option() %}
                                                <div class="col-1 {{ 'white-text' if opt == ans.get_option() }}">
                                                    <i class="fas fa-check"></i>
                                                </div>
                                                {% elif opt == ans.get_option() %}
                                                <div class="col-1 white-text">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    {% if not ans.get_option() %}
                                    <div class="row no-gutters mt-2">
                                        <div class="col-12 col-md-10">
                                            <h5 class="font-weight-bold pl-2">No option was selected.</h5>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="row no-gutters">
                                        <div class="col-12 col-md-10">
                                            <p class="font-weight-bold pl-2">
                                                Time Taken: {{ ans.get_time_taken() }} second{{ 's' if ans.get_time_taken() > 1 }}
                                            </p>
                                            <p class="font-weight-bold pl-2">Your Score: {{ calculate_ans_score(ans) }}/ 100</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <hr>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-2 no-gutters">
                <div class="col-7 col-sm-6 col-xl-5 pb-lg-4">
                    <a class="btn gold-btn mt-auto ml-0" id="leaderboard"
                       href="{{ url_for('aptitude_test_leaderboard') }}">
                        <h6 class="mb-0 font-weight-bold" >Leaderboard</h6>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}