<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-timeline@3.0.0/dist/css/bulma-timeline.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/conference.css') }}">

<div class="timeline is-centered mb-2" id="schedule-vertical">
    <header class="timeline-header">
        <span class="font-weight-bold">Start</span>
    </header>

    <div class="timeline-item is-completed">
        <div class="timeline-marker is-completed"></div>
        <div class="timeline-content">
            <p class="heading white-text">Round 1</p>
            <p class="white-text">13 Feb - 17 Feb</p>
        </div>
    </div>

    <div class="timeline-item is-completed">
        <div class="timeline-marker is-completed"></div>
        <div class="timeline-content">
            <p class="heading white-text">Round 2</p>
            <p class="white-text">18 Feb - 24 Feb</p>
        </div>
    </div>

    <div class="timeline-item is-completed">
        <div class="timeline-marker is-completed"></div>
        <div class="timeline-content">
            <p class="heading white-text">Round 3</p>
            <p class="white-text">25 Feb - 3 Mar</p>
        </div>
    </div>

    <div class="timeline-item is-completed">
        <div class="timeline-marker is-completed"></div>
        <div class="timeline-content">
            <p class="heading white-text">Round 4</p>
            <p class="white-text">4 Mar - 10 Mar</p>
        </div>
    </div>

    <div class="timeline-item is-completed">
        <div class="timeline-marker is-completed"></div>
        <div class="timeline-content">
            <p class="heading white-text">Round 5</p>
            <p class="white-text">11 Mar - 17 Mar</p>
        </div>
    </div>

    <header class="timeline-header">
        <span class="font-weight-bold">End</span>
    </header>
</div>