<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/css/bulma-steps.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude_test/schedule.css') }}">

<div class="row justify-content-center align-items-center mb-2">
    <div class="col">
        <div class="steps">
            <div class="step-item">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title white-text">Round 1</p>
                    <p class="white-text">13 Feb - 17 Feb</p>
                </div>
            </div>

            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title white-text">Round 2</p>
                    <p class="white-text">18 Feb - 24 Feb</p>
                </div>
            </div>

            <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title white-text">Round 3</p>
                    <p class="white-text">25 Feb - 3 Mar</p>
                </div>
            </div>

            <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                    <p class="step-title white-text">Round 4</p>
                    <p class="white-text">4 Mar - 10 Mar</p>
                </div>
            </div>

            <div class="step-item">
                <div class="step-marker">5</div>
                <div class="step-details">
                    <p class="step-title white-text">Round 5</p>
                    <p class="white-text">11 Mar - 17 Mar</p>
                </div>
            </div>
        </div>
    </div>
</div>