<!-- Footer -->
<footer class="page-footer font-small elegant-color align-items-center">
    <div class="text-center text-md-left">
        <div class="container-fluid">
            <div class="row pt-1 pt-md-4 pb-md-2 justify-content-center text-center">
                <div class="col-md-4 mt-md-0 mt-1">
                    <h6 class="text-uppercase">Address</h6>
                    <p>
                        6 Boon Lay Avenue Singapore 649961
                    </p>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <h6 class="text-uppercase">Contact Email</h6>
                    <p class="mb-1 mb-md-0">
                        rivervalleymodelun@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright elegant-color-dark text-center justify-content-center py-3">
        © 2018-2022 RVMUN 2022
    </div>
</footer>