<header>
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark elegant-color-dark scrolling-navbar">
        <!-- Collapse button -->
        <a href="#menu-toggle" class="btn btn-sm d-xl-none" id="menu-toggle"><i class="fas fa-bars"></i></a>
        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold" href="{{ url_for('home') }}">
            <img id="rvmun-logo" class="img-fluid" src="{{ url_for('static', filename='img/rvmun logo.png') }}"
                 alt="RVMUN Logo">
            RVMUN
        </a>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown">About Us</a>
                    <div class="dropdown-menu dropdown-primary p-1">
                        <a class="dropdown-item font-weight-normal pt-2" href="{{ url_for('about') }}">History of RVMUN</a>
                        <a class="dropdown-item font-weight-normal" href="{{ url_for('about', _anchor='theme-description') }}">Aere Perennius</a>
                        <a class="dropdown-item font-weight-normal" href="{{ url_for('about', _anchor='secretariat') }}">The Secretariat</a>
                        <a class="dropdown-item font-weight-normal" href="{{ url_for('about', _anchor='ourteam') }}">Our Team</a>
                        <a class="dropdown-item  font-weight-normal pb-0" href="{{ url_for('about', _anchor='hacas') }}">
                            History and Current Affairs Society</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown">Councils</a>
                    <div class="dropdown-menu dropdown-primary p-1" id="councils">
                        <a class="dropdown-item  font-weight-normal pt-2" href="{{ url_for('councils_home') }}">Introduction</a>
                        {% for council in ('WHO', 'ECOSOC', 'UNESCO', 'SOCHUM', 'SPECPOL', 'UNSC', 'EC', 'HCC') %}
                        <a class="dropdown-item font-weight-normal" href="{{ url_for('council_page', council=council) }}">{{ council }}</a>
                        {% endfor %}
                    </div>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('conference') }}">Conference</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('for_delegates') }}">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('press') }}">Press Corps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('merchandise') }}">Merchandise</a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('updates') }}">Updates</a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('gallery_home') }}">Gallery</a>
                </li>
            </ul>
        </div>

        <div class="d-none d-xl-block mr-3">
            <div class="row justify-content-end align-items-center" id="timer">
                <h5 class="text-white font-weight-bold mr-3 mt-2" id="t-minus"></h5>
                <!--a class="btn btn-md-sm btn-outline-white font-weight-bold" id="register" href="{{ url_for('register') }}">Register</a-->
            </div>
        </div>
    </nav>

    <div class="d-xl-none elegant-color-dark" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <!-- Dummy to fill space -->
            </li>
            <li>
                <a href="#AboutSubMenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle mobile-nav-link font-weight-bold">
                    About Us
                </a>
                <ul class="collapse list-unstyled" id="AboutSubMenu">
                    <li>
                        <a href="{{ url_for('about') }}">History of RVMUN</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about', _anchor='theme-description') }}">Aere Perennius</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about', _anchor='secretariat') }}">The Secretariat</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about', _anchor='ourteam') }}">Our Team</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about', _anchor='hacas') }}">History and Current Affairs Society</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#CouncilsSubMenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle mobile-nav-link font-weight-bold">
                    Councils
                </a>
                <ul class="collapse list-unstyled" id="CouncilsSubMenu">
                    <li>
                        <a href="{{ url_for('councils_home') }}">Introduction</a>
                    </li>
                    {% for council in ('WHO', 'ECOSOC', 'UNESCO', 'SOCHUM', 'SPECPOL', 'UNSC', 'EC', 'HCC') %}
                    <li>
                        <a href="{{ url_for('council_page', council=council) }}">{{ council }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{{ url_for('conference') }}" class="mobile-nav-link font-weight-bold">Conference</a>
            </li>
            <li>
                <a href="{{ url_for('for_delegates') }}" class="mobile-nav-link font-weight-bold">Resources</a>
            </li>
            <li>
                <a href="{{ url_for('press') }}" class="mobile-nav-link font-weight-bold">Press Corps</a>
            </li>
            <li>
                <a href="{{ url_for('merchandise') }}" class="mobile-nav-link font-weight-bold">Merchandise</a>
            </li>
            <!--li>
                <a href="{{ url_for('updates') }}" class="mobile-nav-link font-weight-bold">Updates</a>
            </li-->
            <li>
                <a href="{{ url_for('gallery_home') }}" class="mobile-nav-link font-weight-bold">Gallery</a>
            </li>
        </ul>
    </div>
</header>