{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
{% endblock %}


{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/about_us.png') }}"
     alt="Page Banner">

<div class="row mt-4 justify-content-around no-gutters" id="content-wrapper">
    <div class="col-12 col-xl-9" id="content">
        <div class="row ml-0" id="history">
            <!-- History -->
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <div class="card-body card-body-cascade">
                        <!-- Title -->
                        <h1 class="h1-responsive card-title font-weight-bold text-center">History of RVMUN</h1>
                        <!-- Text -->
                        <div class="text-justify">
                            <p>
                                Conceived in 2013, the River Valley Model United Nations (RVMUN) conference is a
                                student-run initiative that serves as a platform for the youth of today to generate
                                positive change in the world through consultative-based debate.
                            </p>
                            <p>
                                Organised by the River Valley High School History and Current Affairs Society (HACAS),
                                RVMUN prides itself on youth empowerment by equipping them with knowledge and skills in
                                order to understand and address the intricacies and complexities of the world of
                                current affairs and international relations. RVMUN aims to provide delegates with the
                                essential and critical insight into global issues, and foster a sense of responsibility
                                and integrity in addressing and finding solutions to these challenges.
                            </p>
                            <p>
                                Now in its tenth edition, RVMUN has grown from strength to strength, and seeks to
                                continually strive for greater heights. For this edition of the conference,
                                the theme is “Aere Perennius”, which, translated, means “more lasting than bronze”.
                                It is with this spirit of rigour and endurance that the conference will uphold,
                                seeking towards unyielding strides in the progress of humanity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-0" id="theme-description">
            <!-- Theme -->
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <div class="card-body card-body-cascade">
                        <h1 class="h1-responsive card-title font-weight-bold text-center">Aere Perennius</h1>
                        <div class="text-justify">
                            <p>
                                Introducing the theme for RVMUN 2022... Aere Perennius - which means, ‘more lasting
                                than bronze’. As exemplified by this theme, we hope that the memories made,
                                as well as the knowledge learnt will be longer lasting than bronze. The Latin maxim
                                perfectly encapsulates the sense of family and collective strength that we at the
                                History and Current Affairs Society (HACAS) of RVHS hold close to our hearts,
                                and would like to also promote at this year’s edition of the conference.
                                On behalf of the Secretariat and the Organising Committee of RVMUN 2022,
                                we hope to bring you an enriching MUN experience, and we hope that you will
                                enjoy the conference as much as we have had preparing it for you.
                            </p>
                            <p>
                                Aere Perennius.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-0" id="secretariat">
            <!-- Sect -->
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/secretariat/Secretariat.png') }}"
                         alt="Secretariat Group Photo">
                    <div class="card-body card-body-cascade">
                        <h2 class="h1-responsive card-title font-weight-bold text-center">The Secretariat</h2>
                        {% for s in sect %}
                        <div class="text-center p-1 my-2">
                            <div class="row mt-2">
                                <div class="col-7 col-xl-3 m-auto d-flex flex-column
                                            order-1 {{ 'order-xl-12' if loop.index0 is not divisibleby 2 }}">
                                    <!-- switch sides -->
                                    <!-- Photo -->
                                    <img src="{{ url_for('static', filename='img/secretariat/' +
                                                        s.get_name().replace(' ', '_') + '_' + positions[s.get_position()] +
                                                        '_' + comms[s.get_comm()] + '.jpg') }}"
                                         class="img-fluid mt-3 rounded" alt="Photo of {{ s.get_name() }}">

                                    <h4 class="h4-responsive mt-4 font-weight-bold">{{ s.get_name() }}</h4>
                                    {% if '\n' in s.get_title() %}
                                    {% for t in s.get_title().split('\n') %}
                                    <h6 class="h6">{{ t }}</h6>
                                    {% endfor %}
                                    {% else %}
                                    <h6 class="h6">{{ s.get_title() }}</h6>
                                    {% endif %}
                                </div>

                                <!-- Bio -->
                                <div class="col-xl-7 text-md-left m-auto d-flex flex-column
                                            order-12 {{ 'order-xl-11' if loop.index0 is not divisibleby 2 }}">
                                    <div class="text-justify">
                                        {% for b in s.get_bio() %}
                                        <p class="text-justify mx-2">
                                            {{ b }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-0" id="ourteam">
            <!-- OC -->
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <div class="card-body card-body-cascade pt-3">
                        <h1 class="h1-responsive card-title font-weight-bold text-center">Our Team</h1>
                        {% for c, cshort in comms|dictsort %}
                        {% if c %}
                        <!-- switch sides -->
                        <div class="row no-gutters">
                            <div class="col-11 col-md-8 col-lg-6 m-auto d-flex flex-column
                                        order-1 {{ 'order-lg-12' if loop.index is not divisibleby 2 }}">
                                <!-- Photo -->
                                <img src="{{ url_for('static', filename='img/committees/' + cshort + '_Comm.jpg') }}"
                                     class="img-fluid" alt="Committee Photo for {{ c }}">
                            </div>

                            <!-- Bio -->
                            <div class="col-md-11 col-lg-6 text-md-left m-auto d-flex flex-column
                                        order-12 {{ 'order-lg-11' if loop.index is not divisibleby 2 }}">
                                <div class="font-weight-normal">
                                    <h4 class="mb-2 mt-3 mt-lg-0 mb-lg-4 ml-lg-5 pl-lg-5 mr-lg-5 pr-lg-5 text-center font-weight-bold">
                                        {{ c }}
                                    </h4>
                                    <p class="mx-4 ml-lg-5 pl-lg-5 mr-lg-5 pr-lg-5 text-justify">
                                        {{ descriptions[c] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-0" id="hacas">
            <!-- HACAS -->
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/HACAS 2018.jpg') }}"
                             alt="HACAS Photo 2018">
                    </div>

                    <div class="card-body card-body-cascade">
                        <h1 class="card-title font-weight-bold text-center">History and Current Affairs Society (HACAS)</h1>
                        <div class="row align-items-center justify-content-around">
                            <!-- Logo -->
                            <div class="col-6 col-md-3 ml-md-5 text-center">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/HACAS gold logo.png') }}"
                                     alt="HACAS Logo">
                            </div>
                            <div class="col-11 col-md-8 text-justify">
                                <p>
                                    HACAS is a dynamic CCA that prioritizes education and learning for all. Our
                                    students see weekly academic sessions alongside multiple collaborations. HACAS
                                    strives to expand the awareness of and emphasise the importance of History, in
                                    a fun and engaging way.
                                </p>
                                <p>
                                    With 4 central themes every year, HACAS delves into the past and the present
                                    through internal and external collaborations, productions and film screenings.
                                    Our students have since worked with the NUS Museum and hosted guest speakers
                                    from various backgrounds.
                                </p>
                                <p>
                                    HACAS has also pioneered RVMUN, having seen 6 editions of the conference.
                                    Actively participating in conferences all around Singapore and overseas, our
                                    students have also been to the Harvard Model United Nations and Yale Model
                                    United Nations 2017 and 2019.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Menu -->
    <div class="col-3 d-none d-xl-block justify-content-end" id="side-menu-wrapper">
        <nav>
            <ul class="list-group-flush" id="side-menu" data-gumshoe>
                <li class="list-group-item active">
                    <a data-scroll class="active" href="#history">
                        <div class="row text-dark mr-0">
                            <div class="col-1 ml-1"><i class="fas fa-hourglass-half align-middle"></i></div>
                            <div class="col-10 font-weight-bold text-left">
                                History of RVMUN
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-scroll href="#theme-description">
                        <div class="row text-dark mr-0">
                            <div class="col-1 ml-1"><i class="fas fa-pen-nib align-middle"></i></div>
                            <div class="col-10 font-weight-bold text-left">
                                Aere Perennius
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-scroll href="#secretariat">
                        <div class="row text-dark mr-0">
                            <div class="col-1 ml-1"><i class="fas fa-gavel align-middle"></i></div>
                            <div class="col-10 font-weight-bold text-left">
                                The Secretariat
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-scroll href="#ourteam">
                        <div class="row text-dark mr-0">
                            <div class="col-1 ml-1"><i class="fas fa-users align-middle"></i></div>
                            <div class="col-10 font-weight-bold text-left">
                                Our Team
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-scroll href="#hacas">
                        <div class="row text-dark mr-0">
                            <div class="col-1 ml-1"><i class="fas fa-fingerprint align-middle"></i></div>
                            <div class="col-10 font-weight-bold text-left">
                                History and Current Affairs Society
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- ScrollSpy Scripts -->
<!-- Gumshoe -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gumshoe/3.5.1/js/gumshoe.min.js"></script>
<script>
    $( document ).ready(function() {
        gumshoe.setDistances();
        gumshoe.init({
            offset: 5,
        });
    });
</script>
{% endblock %}