{% extends "base.html" %}

{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/press.png') }}"
     alt="Page Banner">

<div class="row mt-2 justify-content-around no-gutters" id="content-wrapper">
    <div class="col-10">
        <div class="card my-3">
            <div class="card-body mx-2">
                <h1 class="h1-responsive card-title font-weight-bold mb-3">{{ article.get_title() }}</h1>
                <p class="mb-0">
                    By <span class="font-weight-bold">{{ article.get_author() }}</span>, {{ article.get_agency() }}
                </p>
                <p class="mb-4">Published: {{ article.get_time() }}</p>

                {% for is_text, p in article_data %}
                {% if is_text %}
                <p class="text-justify my-2">{{ p }}</p>
                {% else %}
                <div class="row no-gutters justify-content-center my-3">
                    <div class="col col-md-8 col-lg-6 text-center">
                        <img class="img-fluid" alt="{{ p.get_caption() }}"
                             src="{{ url_for('static', filename=p.get_path()) }}">
                        <p class="text-center font-italic">{{ p.get_caption() }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}