<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RVMUN 2019</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/css/mdb.min.css">

    <!-- Custom Base CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- Navbar CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <!-- Custom Page Specific CSS -->
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="w-100" id="wrapper">
        <!-- Navbar -->
        {% include "layout/navbar.html" %}
        <div class="container-fluid" id="body-wrapper">
            <!-- Main Body-->
            {% block content %}{% endblock %}

            {% block footer %}
            {# to allow for the option of not including the footer in some pages #}
            {% include "layout/footer.html" %}
            {% endblock %}
        </div>
    </div>
    <!-- Scripts -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/js/mdb.min.js"></script>
    <!-- Custom Sidenav JavaScript -->
    <script type="text/javascript" src="{{url_for('static', filename='js/mobile_sidenav.js')}}"></script>
    <!-- Countdown Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>

    <!-- Custom Page Specific Scripts -->
    {% block scripts %}{% endblock %}
</body>