{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/coming_soon.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row align-items-center d-flex w-100 ml-0" id="content">
        <div class="col-lg-5 text-center mt-5 mb-5">
            <h3 class="display-3">Coming Soon</h3>
        </div>

        <div class="col-lg-7 h-100 p-0" id="photoframe">
            <img class="img-fluid h-100 w-100" src="{{ url_for('static', filename='img/comingsoon.jpg') }}">
        </div>
    </div>
</div>
{% endblock %}