{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-timeline@3.0.0/dist/css/bulma-timeline.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/conference.css') }}">
{% endblock %}

{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/conference.png') }}"
     alt="Page Banner">

<div class="row mt-3 no-gutters justify-content-around" id="content-wrapper">
    <div class="col-12 col-xl-9" id="content">
        <div class="row no-gutters ml-xl-3" id="GuestofHonour">
            <div class="col mb-3 mx-4 mr-xl-3 ml-xl-5">
                <div class="card card-cascade mt-3">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <!-- Title -->
                        <h1 class="h1-responsive card-title font-weight-bold text-center">Keynote Speaker</h1>

                        <div class="row">
                            <div class="col-9 col-md-6 col-lg-5 col-xl-4 d-flex m-auto flex-column">
                                <img class="img-fluid my-3 rounded" alt="Guest of Honour Image"
                                     src="{{ url_for('static', filename='img/GOH.png') }}">
                            </div>

                            <div class="col-xl-10 d-flex flex-column mx-auto">
                                <p class="text-justify my-3">
                                    Mr Timur Zevakhi is a graduate from the Moscow State University of
                                    International Relations, and has served as the Attaché, Third Secretary, Chief of
                                    Consular Section, Embassy of the Russian Federation in Cambodia till 2008.
                                    From 2008 to 2010, he took on the role of the Third Secretary, Second Secretary,
                                    Third Department of Asia, and Ministry of Foreign Affairs of the Russian Federation.
                                    Shortly after, Mr Zevakhin served as the Second Secretary and subsequently the First
                                    Secretary of the Embassy of the Russian Federation in Australia till 2013.
                                    And from 2013 to 2015, he was the First Secretary, Third Department of Asia,
                                    Ministry of Foreign Affairs of the Russian Federation.
                                    His most recent position is as the Political Counsellor of the Embassy of the
                                    Russian Federation in Singapore.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-0" id="PreConferenceSchedule">
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <!-- Title -->
                        <h1 class="h1-responsive card-title font-weight-bold text-center">Pre-Conference Schedule</h1>

                        <!-- Timeline -->
                        <div class="timeline is-centered">
                            <header class="timeline-header">
                                <span>Start</span>
                            </header>

                            {% for e in timeline["pre-conference"] %}
                            <div class="timeline-item{{ ' is-completed' if e['has_occurred'] }}">
                                <div class="timeline-marker{{ ' is-completed' if e['has_occurred'] }}"></div>
                                <div class="timeline-content">
                                    <p class="heading">{{e['date']}}</p>
                                    <p>{{e['event']}}</p>
                                </div>
                            </div>
                            {% endfor %}

                            <header class="timeline-header">
                                <span>End</span>
                            </header>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-0" id="ConferenceSchedule">
            <div class="col mb-3 ml-2 ml-xl-5 mr-2 mr-xl-0">
                <div class="card card-cascade">
                    <div class="card-body card-body-cascade px-3">
                        <!-- Title -->
                        <h1 class="h1-responsive card-title font-weight-bold text-center">Conference Schedule</h1>

                        {% for day in timeline['conference'] %}
                        <!-- Subtitle -->
                        <div class="row justify-content-center">
                            <div class="col-8 col-sm-6 col-md-5 col-lg-4 day-label-col">
                                <img class="img-fluid my-4" src="{{ url_for('static', filename='img/day ' + loop.index|string + '.png') }}"
                                     alt="Day {{ loop.index }}: {{day['date']}}">
                            </div>
                        </div>

                        <table class="table table-hover table-fixed mb-4">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th scope="col" class="col-5 font-weight-bold">Time</th>
                                    <th scope="col" class="col-7 font-weight-bold">Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in day['events'] %}
                                <tr class="d-flex">
                                    <th scope="row" class="col-5 font-weight-bold">{{e['time']}}</th>
                                    <td class="col-7">{{e['event']}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Menu -->
    <div class="col-3 d-none d-xl-block justify-content-end" id="side-menu-wrapper">
        <nav>
            <ul class="list-group-flush" id="side-menu" data-gumshoe>
                <li class="list-group-item active">
                    <a data-scroll class="active" href="#GuestofHonour">
                        <div class="row text-dark mr-0">
                            <div class="col-10 font-weight-bold text-left">
                                <span>Keynote Speaker</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-scroll href="#PreConferenceSchedule">
                        <div class="row text-dark mr-0">
                            <div class="col-10 font-weight-bold text-left">
                                <span>Pre-Conference Schedule</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-scroll href="#ConferenceSchedule">
                        <div class="row text-dark mr-0">
                            <div class="col-10 font-weight-bold text-left">
                                Conference Schedule
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- ScrollSpy Scripts -->
<!-- Gumshoe -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gumshoe/3.5.1/js/gumshoe.min.js"></script>
<script>
    $( document ).ready(function() {
        gumshoe.init({
            offset: 5,
        });
    });
</script>
{% endblock %}