{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/councils_page.css') }}">
{% endblock %}


{% block content %}
<img id="title-card" class="img-fluid w-100" src="{{ url_for('static', filename='img/council_headers/' + council.upper() + '.png') }}"
     alt="Council Banner for {{ council.upper() }}">

<!-- Topics -->
<div class="card col-12 col-lg-9 mx-auto mt-3 mb-2 p-2">
    <h1 class="h1-responsive display-3 mt-4 mb-1 ml-5 pl-2 section-title font-weight-bold">Topics</h1>
    <div class="col-12 col-lg-11 m-auto">
        <div class="card-text">
            <ol class="">
                {% for t in topics %}
                <li>
                    <div class="row align-items-center mb-4">
                        <div class="col-12 col-lg-12">
                            <h4 class="h4-responsive ml-2 mb-2 my-lg-2 section-title font-weight-bold">{{ t.get_name() }}</h4>
                            {% for para in t.get_intro() %}
                            <p class="text-justify mx-2">
                                {{ para }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<!-- Directors -->
<div class="col-12 col-lg-9 mx-auto mb-2 card">
    <h1 class="h1-responsive display-3 mt-4 mb-1 ml-5 pl-2 section-title font-weight-bold">Directors</h1>
    <!-- Council Pic -->
    <div class="row justify-content-center">
        <div class="jumbotron col-8 text-center p-1 my-2 mb-4">
            <img class="img-fluid"
                 src="{{ url_for('static', filename='img/council_directors/' + council.upper() + '_Council.jpg') }}"
                 alt="{{ council.upper() }} Directors Group Photo">
        </div>
    </div>
    <!-- Directors -->
    <div class="col-12 col-lg-11 m-auto">
        {% for director in directors %}
        <div class="text-center p-3 my-2 my-lg-3">
            <div class="row mt-2">
                <div class="col-8 col-xl-3 m-auto d-flex flex-column {{ 'order-1' if loop.index0 is divisibleby 2 else 'order-1 order-xl-12' }}">
                    <!-- switch sides -->
                    <!-- Photo -->
                    <img src="{{ url_for('static', filename='img/council_directors/' + director.get_name().replace(' ', '_').replace(',', '') + '_' + council.upper() + '.jpg') }}"
                         class="img-fluid mt-3 rounded"
                         alt="Photo of {{ director.get_name() }}">

                    <h4 class="h4-responsive mt-4 font-weight-bold">{{ director.get_name() }}</h4>
                    <h6 class="h6 blue-text"><i class="fas fa-envelope pr-1"></i>{{ director.get_email() }}</h6>
                </div>

                <!-- Bio -->
                <div class="col-xl-7 text-md-left m-auto d-flex flex-column
                            order-12 {{ 'order-xl-11' if loop.index0 is not divisibleby 2 }}">
                    <div class="font-weight-normal text-justify">
                        {% for b in director.get_bio() %}
                        <p class="text-justify">
                            {{ b }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}