{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/countdown.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="countdown" style="overflow: hidden;">
    <div class="row no-gutters h-100 w-100 align-items-center justify-content-center text-white">
        <div class="col-11 col-xl-9">
            <div class="row align-items-center justify-content-center">
                <div class="col-6 col-md-3 col-lg-2 text-center">
                    <h1 id="day">00</h1>
                    <h3>days</h3>
                </div>
                <div class="col-6 col-md-3 col-lg-2 text-center">
                    <h1 id="hour">00</h1>
                    <h3>hours</h3>
                </div>
                <div class="col-6 col-md-3 col-lg-2 text-center">
                    <h1 id="min">00</h1>
                    <h3>minutes</h3>
                </div>
                <div class="col-6 col-md-3 col-lg-2 text-center">
                    <h1 id="sec">00</h1>
                    <h3>seconds</h3>
                </div>
            </div>
            <div class="row text-center mt-4 mt-md-5 mb-1 mb-md-4">
                <h3 class="mx-auto" id="to-start">TO START OF RVMUN 2019</h3>
            </div>
            <div class="row">
                <a href="{{ url_for('set_cd_cookie') }}" class="btn btn-xlarge js-scroll-trigger mx-auto py-3 px-5">
                    <h3 id="enter" class="mb-1">Enter</h3>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {# empty footer #}
{% endblock %}