{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/councils_home.css') }}">
{% endblock %}


{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/councils.png') }}"
     alt="Page Banner">

<div class="row mt-1 justify-content-around no-gutters" id="content-wrapper">
    <div class="col-11">
        <div class="jumbotron pt-3 pb-0 px-1 mb-2">
            <!-- buttons -->
            <div class="row justify-content-center">
                <div class="col-10 col-md-8">
                    <div class="card">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            {% for council in councils %}
                            <li class="nav-item col-6 col-md-3 px-0 text-center">
                                <a class="nav-link {{'active' if council == 'UNICEF' }} px-1" id="pills-home-tab"
                                    data-toggle="pill" href="#{{ council.lower() }}" role="tab">
                                    {{ council }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent">
                {% for council in councils %}
                <div class="tab-pane fade {{ 'show active' if council == 'UNICEF' }}" id="{{ council.lower() }}" role="tabpanel">
                    <div class="row mt-4 pb-lg-4 justify-content-center align-items-center">
                        <!-- poster -->
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card p-1 text-center">
                                <a href="{{ url_for('council_page', council=council.lower()) }}">
                                    <img class="img-fluid w-100"
                                         src="{{ url_for('static', filename='img/council_posters/' + council + '.png') }}"
                                         alt="{{ council }} poster">
                                </a>
                            </div>
                        </div>

                        <!-- intro card -->
                        <div class="col-11 col-lg-7 p-0">
                            <div class="card-body card-body-cascade">
                                <div class="card p-2 mb-0">
                                    <!-- intro -->
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="card-text">
                                                <h3 class="h3-responsive font-weight-bold d-block d-lg-none
                                                           text-center mt-2 mb-3 mx-auto">
                                                    {{ longs[council] }}
                                                </h3>
                                                {% for i in intros[council] %}
                                                <p class="text-justify px-2">{{ i }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- Learn More Button -->
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a class="btn btn-dark mt-1" href="{{ url_for('council_page', council=council.lower()) }}">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}