{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        {% for file in filepaths %}
        <div class="col-11 col-md-6 col-lg-4">
            <a href="{{ url_for('static', filename=file ) }}" data-fancybox="gallery">
                <img class="img-fluid my-3" src="{{ url_for('static', filename=file) }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script>
    $().fancybox({
        selector : '.imglist a:visible'
    });
</script>
{% endblock %}