{% extends "base.html" %}

{% block styles %}
<style>
    @media (min-width: 1200px) {
        .pic-col {
            height: calc(100vh - 150px - 56px - 24vw);
            min-height: 22vw;
        }
    }
</style>
{% endblock %}

{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/gallery.png') }}"
    alt="Page Banner">

<div class="row no-gutters justify-content-center align-items-center">
    <div class="col-xl-11">
        <div class="row no-gutters justify-content-center align-items-center mb-4 mb-xl-0">
            {% for i in range(1, 4) %}
            <div class="col-10 col-md-8 col-lg-7 col-xl-4 d-flex flex-column pic-col mt-4 mt-xl-0">
                <a href="{{ url_for('gallery', day=i) }}" class="px-xl-3 my-auto">
                    <img class="img-fluid" alt="Link to Day {{ i }}'s photos"
                         src="{{ url_for('static', filename='img/event_pictures/day %s.jpg'|format(i)) }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}