{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block content %}
<!-- Carousel -->
<div class="carousel slide carousel-fade" id="homepage-carousel" data-ride="carousel" data-pause="false">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#homepage-carousel" data-slide-to="1"></li>
        <li data-target="#homepage-carousel" data-slide-to="2"></li>
        <li data-target="#homepage-carousel" data-slide-to="3"></li>
        <li data-target="#homepage-carousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="view">
                <img class="img-fluid d-block w-100" src="{{ url_for('static', filename='img/homepage_carousel/slide1_blank.jpg') }}">
                <div class="mask flex-center rgba-black-strong">
                    <span class="align-items-center text-center">
                        <h1 class="overlay overlay-h1">RVMUN 2022</h1>
                        <h2 class="overlay conf-description">Virtual Conference</h2>
                        <h4 class="overlay" id="theme">AERE PERENNIUS</h4>
                    </span>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="view">
                <img class="img-fluid d-block w-100" src="{{ url_for('static', filename='img/homepage_carousel/slide2_blank.jpg') }}">
                <div class="mask flex-center rgba-black-strong">
                    <div class="row justify-content-center">
                        <div class="col-11 col-xl-7 w-25">
                            <h3 class="overlay overlay-h3 mb-3 text-center">Understanding International Diplomacy</h3>
                            <h4 class="overlay overlay-h4 text-center">
                                Discover and explore how multilateral organisations operate through simulated councils
                                and scenarios across a wide spread of United Nations committees.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="view">
                <img class="img-fluid d-block w-100" src="{{ url_for('static', filename='img/homepage_carousel/slide3_blank.jpg') }}">
                <div class="mask flex-center rgba-black-strong">
                    <div class="row justify-content-center">
                        <div class="col-11 col-xl-7 w-25">
                            <h3 class="overlay overlay-h3 mb-3 text-center">Meaningful and Engaging Interactions</h3>
                            <h4 class="overlay overlay-h4 text-center">
                                Experience the multi-faceted nature of diplomacy in all its varying forms through
                                lobbying, mediation and debate, whilst finding your own distinctive style.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="view">
                <img class="img-fluid d-block w-100" src="{{ url_for('static', filename='img/homepage_carousel/slide4_blank.jpg') }}">
                <div class="mask flex-center rgba-black-strong">
                    <div class="row justify-content-center">
                        <div class="col-11 col-xl-7 w-25">
                            <h3 class="overlay overlay-h3 mb-3 text-center">3 Exhilarating Days</h3>
                            <h4 class="overlay overlay-h4 text-center">
                                Put your skills to the test as you seek for consensus and resolution to the current
                                issues and problems facing the world.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="view">
                <img class="img-fluid d-block w-100" src="{{ url_for('static', filename='img/homepage_carousel/slide5_blank.jpg') }}">
                <div class="mask flex-center rgba-black-strong">
                    <div class="align-items-center text-center">
                        <h1 class="overlay overlay-h1">RVMUN 2022</h1>
                        <h2 class="overlay conf-description">Virtual Conference</h2>
                        <h4 class="overlay" id="theme-english">MORE LASTING THAN BRONZE</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="carousel-control-prev" href="#homepage-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homepage-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Letter from the Sec Gen -->
<div class="col mb-4" id="sec-gen-letter">
    <div class="row text-justify align-items-center justify-content-around justify-content-xl-center">
        <!-- Letter -->
        <div class="col-12 col-lg-7 col-xl-6 mt-5">
            <!-- Left Quotation Mark -->
            <div class="w-100 text-center">
                <i class="mb-2 fas fa-quote-left"></i>
            </div>
            <!--Content -->
            <h5 class="font-weight-bold my-3 mb-4" id="salutation">Dear Delegates, Chairpersons, Conference Staff,
                Teachers,
                and Honoured Guests of RVMUN 2019,</h5>

            <p>
                Welcome to River Valley Model United Nations 2019! On behalf of the History and Current Affairs Society
                (HACAS), as well as the RVMUN Secretariat, it is my honour to invite you to participate in the seventh
                annual edition of our RVMUN conference, which will be held from 18 to 20 March 2019.
            </p>
            <p>
                Every year, RVMUN has consistently postured and maintained itself as a preparatory conference that
                inspires the youth of today to be the leaders of tomorrow. Our mission is to train, educate and inspire
                in a setting that is nurturing and enriching for all involved. As a preparatory conference, we
                introduce delegates to the world of Model United Nations and encourage them to try their hand at
                discussing and resolving some of the twenty-first century issues.
            </p>
            <p>
                The RVMUN experience consists of not only the conference itself, but also pre-conference training
                sessions and materials to prepare all delegates for the conference, ensuring that all delegates can
                approach their council sessions with confidence, all while challenging themselves in their own way.
                During the conference, delegates can look to academically rigorous debates, networking opportunities,
                good brain food and lastly, a night to unwind and celebrate at the end of the conference.
            </p>
            <p>
                With the theme Si Vales, Valeo, which translates into Your Strength is My Strength, we sincerely wish
                that RVMUN 2019 can be a breakthrough for many delegates - for them to step out of their comfort zone
                and take the brave step forward, all with the virtue of unity and the spirit of togetherness.
            </p>
            <p>
                Join us at our conference to discover your strengths and our strength as one. Once again, on behalf of
                my entire team, we look forward to seeing you at RVMUN 2019!
            </p>

            <p>
                Warmest Regards,
                <span class="d-none d-lg-block">
                    Megan Chua
                    <br>
                    Secretary-General
                </span>
            </p>
        </div>

        <div class="col-8 col-lg-4 col-xl-3 offset-xl-1 mt-2 mt-xl-4 px-xl-5 text-center" id="sec-gen-photo">
            <!-- Avatar -->
            <div class="avatar mx-auto mb-4 text-center">
                <img src="{{url_for('static', filename='img/secretariat/Megan_Chua_SecGen_Thumbnail.png')}}"
                     class="rounded-circle img-fluid"
                    alt="Sec Gen's Photo">
            </div>

            <h4 class="font-weight-bold text-center">Megan Chua</h4>
            <h5 class="font-weight-bold text-center">Secretary-General</h5>
        </div>
    </div>
</div>
{% endblock %}