{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<link href="{{ url_for('static', filename='css/merch.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/merch.png') }}"
    alt="Page Banner">

<div class="container mt-4">
    <div class="row no-gutters" id="shirt">
        <div class="col card card-cascade">
            <div class="card-body card-body-cascade">
                <div class="row no-gutters justify-content-center">
                    <!-- Image carousel -->
                    <div class="col-12 col-lg-5">
                        <div class="row no-gutters justify-content-center">
                            <div class="owl-carousel col-12 col-md-10" data-slider-id="1">
                                <div>
                                    <img class="img-fluid" alt="Back design of shirt"
                                         src="{{ url_for('static', filename='img/merchandise/shirt_back.png') }}">
                                </div>
                                <div>
                                    <img class="img-fluid" alt="Front design of shirt"
                                         src="{{ url_for('static', filename='img/merchandise/shirt_front.png') }}">
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="owl-thumbs col d-flex justify-content-center" data-slider-id="1">
                                <button class="owl-thumb-item pb-1">
                                    <img class="img-thumbnail" alt="Thumbnail of back design of shirt"
                                         src="{{ url_for('static', filename='img/merchandise/shirt_back.png') }}">
                                </button>
                                <button class="owl-thumb-item pb-1">
                                    <img class="img-thumbnail" alt="Thumbnail of front design of shirt"
                                         src="{{ url_for('static', filename='img/merchandise/shirt_front.png') }}">
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="col-lg-6 d-flex flex-column">
                        <h1 class="item-title text-center font-weight-bold mt-4 mb-2">RVMUN T-Shirt</h1>

                        <h4 class="text-center font-weight-bold mt-3 mt-lg-5">Colours</h4>
                        <div class="row justify-content-center">
                            <span class="circle white-circle mx-2"></span>
                            <span class="circle grey-circle mx-2"></span>
                        </div>

                        <h1 class="text-center font-weight-bold mt-4 mt-lg-auto">SGD 9.00</h1>
                        <h5 class="text-center">Size chart can be found in the order form.</h5>

                        <div class="row justify-content-center mt-3 mt-lg-auto mb-lg-5">
                            <div class="col-5 col-xl-3">
                                <a class="btn gold-btn px-0 py-3"
                                   href="https://tinyurl.com/rvmun19shirtordersdels">
                                    <h6 class="mb-0 font-weight-bold">Order Now</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters my-4" id="tote-bag">
        <div class="col card card-cascade">
            <div class="card-body card-body-cascade">
                <div class="row no-gutters justify-content-center">
                    <!-- Image carousel -->
                    <div class="col-12 col-lg-5">
                        <div class="row no-gutters justify-content-center">
                            <div class="owl-carousel col-12 col-md-10" data-slider-id="2">
                                <div>
                                    <img class="img-fluid" alt="Cream tote bag"
                                         src="{{ url_for('static', filename='img/merchandise/tote_white.png') }}">
                                </div>
                                <div>
                                    <img class="img-fluid" alt="Black tote bag"
                                         src="{{ url_for('static', filename='img/merchandise/tote_black.png') }}">
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="owl-thumbs col d-flex justify-content-center" data-slider-id="2">
                                <button class="owl-thumb-item pb-1">
                                    <img class="img-thumbnail" alt="Thumbnail of cream tote bag"
                                         src="{{ url_for('static', filename='img/merchandise/tote_white.png') }}">
                                </button>
                                <button class="owl-thumb-item pb-1">
                                    <img class="img-thumbnail" alt="Thumbnail of black tote bag"
                                         src="{{ url_for('static', filename='img/merchandise/tote_black.png') }}">
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="col-lg-6 d-flex flex-column">
                        <h1 class="item-title text-center font-weight-bold mt-4 mb-2">RVMUN Tote Bag</h1>

                        <h4 class="text-center font-weight-bold mt-3 mt-lg-4">Colours</h4>
                        <div class="row justify-content-center">
                            <span class="circle cream-circle mx-2"></span>
                            <span class="circle black-circle mx-2"></span>
                        </div>

                        <h1 class="text-center font-weight-bold mt-4 mt-lg-auto">SGD 3.30</h1>

                        <h4 class="text-center font-weight-bold mt-4 mt-lg-auto">Size</h4>
                        <h5 class="text-center">Length: 36.5 cm</h5>
                        <h5 class="text-center">Width : 31.5 cm</h5>

                        <div class="row justify-content-center mt-3 mt-lg-auto mb-lg-5">
                            <div class="col-5 col-xl-3">
                                <a class="btn gold-btn px-0 py-3"
                                   href="https://tinyurl.com/delmerchorders">
                                    <h6 class="mb-0 font-weight-bold">Order Now</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters my-4" id="keychain">
        <div class="col card card-cascade">
            <div class="card-body card-body-cascade">
                <div class="row no-gutters justify-content-center">
                    <!-- Image carousel -->
                    <div class="col-12 col-lg-5">
                        <div class="row no-gutters justify-content-center mt-lg-5 pt-lg-5 pt-xl-0">
                            <div class="owl-carousel col-12 col-md-10" data-slider-id="3">
                                <div>
                                    <img class="img-fluid" alt="Keychain Picture 1"
                                         src="{{ url_for('static', filename='img/merchandise/keychain_1.png') }}">
                                </div>
                                <div>
                                    <img class="img-fluid" alt="Keychain Picture 2"
                                         src="{{ url_for('static', filename='img/merchandise/keychain_2.png') }}">
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters mt-4">
                            <div class="owl-thumbs col d-flex justify-content-center" data-slider-id="3">
                                <button class="owl-thumb-item pb-1">
                                    <img class="img-thumbnail" alt="Keychain Picture 1"
                                         src="{{ url_for('static', filename='img/merchandise/keychain_1.png') }}">
                                </button>
                                <button class="owl-thumb-item pb-1">
                                    <img class="img-thumbnail" alt="Keychain Picture 2"
                                         src="{{ url_for('static', filename='img/merchandise/keychain_2.png') }}">
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="col-lg-6 d-flex flex-column">
                        <h1 class="item-title text-center font-weight-bold mt-4 mb-2">RVMUN Keychain</h1>

                        <h1 class="text-center font-weight-bold mt-4 mt-lg-auto">SGD 2.00</h1>

                        <h4 class="text-center font-weight-bold mt-4 mt-lg-auto">Size</h4>
                        <h5 class="text-center">Length: 43 mm</h5>
                        <h5 class="text-center">Width : 28 mm</h5>

                        <div class="row justify-content-center mt-3 mt-lg-auto mb-lg-5">
                            <div class="col-5 col-xl-3">
                                <a class="btn gold-btn px-0 py-3"
                                   href="https://tinyurl.com/delmerchorders">
                                    <h6 class="mb-0 font-weight-bold">Order Now</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/owl.carousel2.thumbs@0.1.8/dist/owl.carousel2.thumbs.min.js"></script>
<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            thumbs: true,
            thumbImage: false,
            thumbsPrerendered: true,
            thumbContainerClass: 'owl-thumbs',
            thumbItemClass: 'owl-thumb-item',
            items: 1,
            dots: false,
            loop: true,
        })
    });
</script>
{% endblock %}