<!-- Password Request Modal -->
<link href="{{ url_for('static', filename='css/password_prompt.css') }}" rel="stylesheet">
<div class="modal fade" tabindex="-1" aria-hidden="true" id="password-{{ council }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="password-label text-center font-weight-bold pt-3">PASSWORD</h3>

                <form action="" method="post">
                    {{ form.csrf_token() }}
                    {{ form.file_identifier(value=council + " Study Guide.pdf") }}
                    <div class="form-row justify-content-center no-gutters">
                        <div class="col-12 col-md-8">
                            <div class="md-form form-lg">
                                {{ form.password(class_="form-control form-control-lg" ) }}

                                {% if form.file_identifier.data %}
                                    {% if council in form.file_identifier.data and form.password.errors %}
                                        {% for error in form.password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-5 col-sm-3">
                            {{ form.submit(class_="btn gold-btn btn-block mt-3 mt-md-4") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>