{% extends "base.html" %}

{% block content %}
<img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/press.png') }}"
    alt="Page Banner">

<div class="row mt-2 justify-content-around no-gutters" id="content-wrapper">
    <div class="col-10">
        <div class="card my-3">
            <div class="row justify-content-center align-items-center">
                <!-- Poster -->
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card p-1 text-center">
                        <img class="img-fluid w-100"
                             src="{{ url_for('static', filename='img/council_posters/press.png') }}"
                             alt="Press Corps poster">
                    </div>
                </div>

                <!-- Description -->
                <div class="col-11 col-lg-7 align-items-center">
                    <h3 class="h3-responsive font-weight-bold d-block d-lg-none text-center mt-2 mb-3 mx-auto">
                        Press Corps
                    </h3>

                    <p class="text-justify pt-lg-3">
                        RVMUN’s Press Corps 2019 features 5 different international press agencies.
                        It acts as a journalism platform for in-depth reports on matters of the United Nations (UN),
                        including reporting on council sessions, conducting interviews with chairs and delegates,
                        and adopting creative forms of expression such as producing political cartoons.
                    </p>

                    <p class="text-justify">
                        The press is an essential element of democracy and serves to bridge the United Nations with
                        the global populace, as well as hold the members of the UN accountable for their actions.
                        Additionally, the press is able to highlight the voices of underrepresented, minority groups,
                        by giving them a platform to speak. Investigative journalism also allows the spotlighting of
                        issues that might have otherwise been overlooked. Hence, RVMUN believes that the Press Corps
                        is essential to the experience of the delegates.
                    </p>

                    <p class="text-justify">
                        Over the course of the conference, delegates will be able to hone their writing and
                        journalistic prowess through interviewing other delegates and chairs, writing news articles
                        and opinion pieces and, accepting and publishing press releases.
                        Delegates are also expected to familiarize themselves with and adopt the writing style and
                        political bias of their respective press agencies.
                    </p>

                    <p class="text-justify">
                        RVMUN’s Press Corps 2019 will feature press agencies Agence France-Presse,
                        Russian News Agency-TASS, Channel News Asia, Times and the Wall Street Journal.
                    </p>

                    <div class="row justify-content-center my-4">
                        <div class="col-9 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                            <button type="button" class="btn gold-btn py-3 ml-0" data-toggle="modal"
                                    data-target="#password-{{ council }}">
                                Study Guide
                            </button>
                        </div>
                    </div>

                    <!-- Password Modal -->
                    {% include "password_required_modal.html" %}
                </div>
            </div>
        </div>

        <div class="card card-cascade my-3">
            <div class="card-body card-body-cascade">
                <!-- Title -->
                <h1 class="h1-responsive card-title font-weight-bold text-center">Press Articles</h1>

                <!-- Articles -->
                <div class="row no-gutters justify-content-around">
                    {% for article in articles %}
                    <div class="col-10 col-md-5 col-xl-3 d-flex flex-column mb-5">
                        <a href="{{ url_for('get_press_article', article_id=article.get_id()) }}" class="text-center">
                            <img class="img-fluid" alt="Photo for Article {{ article.get_id() }}"
                                 src="{{ url_for('static', filename='articles/' + article.get_id()|string + '/image1_thumbnail.jpg') }}">
                        </a>

                        <h4 class="font-weight-bold text-center mt-auto pt-3">{{ article.get_title() }}</h4>
                        <p class="font-weight-bold text-center mb-0">{{ article.get_author() }}</p>
                        <p class="text-center mb-0">{{ article.get_agency() }}</p>
                        <p class="text-center mb-2">Published: {{ article.get_time() }}</p>
                        <a href="{{ url_for('get_press_article', article_id=article.get_id()) }}"
                           class="btn gold-btn mt-auto mx-0 px-0 py-2">
                            Read More
                        </a>
                    </div>

                    {# place a breakpoint so that there would only be 3 posts per row for xl #}
                    {% if loop.index is divisibleby 3 %}
                    <!-- Force next columns to break to new line at xl -->
                    <div class="w-100 d-none d-xl-block"></div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{# open the modal immediately if form was previously submitted #}
{% if form.file_identifier.data and council in form.file_identifier.data %}
<script>
    $(document).ready(function() {
        $("#password-{{ council }}").modal('show');
    });
</script>
{% endif %}
{% endblock %}}