{% extends "base.html" %}

{% block content %}
    <img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/registration.png') }}"
    alt="Page Banner">

    <div class="container mt-4 mb-4" id="content">
        <p class="mb-5">Please refer to the respective documents for registration.</p>
        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-6 col-md-3 text-center">
                <a class="black-text" href="{{ url_for('static', filename='files/RVMUN 2019 Registration Information.pdf') }}">
                    <i class="fas fa-file-pdf fa-6x"></i>
                </a>
                <p class="file_description mt-4">RVMUN 2019 Registration Information</p>
            </div>

            <div class="col-6 col-md-3 text-center">
                <a class="black-text" href="{{ url_for('static', filename='files/School Delegation Registration Form.docx') }}">
                    <i class="fas fa-file-word fa-6x"></i>
                </a>
                <p class="file_description mt-4">School Delegation Registration Form</p>
            </div>

            <div class="col-6 col-md-3 text-center">
                <a class="black-text" href="{{ url_for('static', filename='files/RVMUN 2019 Independent Delegates.pdf') }}">
                    <i class="fas fa-file-pdf fa-6x"></i>
                </a>
                <p class="file_description mt-4">RVMUN 2019 Independent Delegates</p>
            </div>

            <div class="col-6 col-md-3 text-center">
                <a class="black-text" href="{{ url_for('static', filename='files/Interschool and Cluster Journal Adjustment Request Form.docx') }}">
                    <i class="fas fa-file-word fa-6x"></i>
                </a>
                <p class="file_description mt-4">Interschool and Cluster Journal Adjustment Request Form</p>
            </div>
        </div>

        <p class="mb-5">
            If you have any queries, feel free to email us at
            <span class="blue-text">rivervalleymodelun@gmail.com</span>. We hope to see you at RVMUN 2019!
        </p>
    </div>
{% endblock %}