{% extends "base.html" %}

{% block styles %}
<style>
    .gold-btn {
        /* Remove 100% width */
        width: auto;
        background-color: rgba(218,156,53, 1);
    }
</style>
{% endblock %}

{% block content %}
    <img id="title-card" class="img-fluid" src="{{ url_for('static', filename='img/page_headers/del_resources.png') }}"
    alt="Page Banner">

    <div class="row no-gutters justify-content-center mt-4">
        <div class="col-md-10 col-lg-11 col-xl-10">
            <h1 class="h1-responsive card-title font-weight-bold text-center">Study Guides</h1>
            <div class="row no-gutters justify-content-center">
                {% for council in councils %}
                <div class="col-10 col-sm-7 col-md-6 col-lg-3 d-flex flex-column mb-5">
                    <img class="img-fluid mb-auto" src="{{ url_for('static', filename='img/council_logos/' + council + '.png') }}"
                         alt="{{ council }} Logo">
                    <p class="font-weight-bold text-center mt-2 px-xl-2">{{ longs[council] }}</p>
                    <button type="button" class="btn mt-auto gold-btn mx-xl-5 px-0 py-2" data-toggle="modal"
                            data-target="#password-{{ council }}">
                        Study Guide
                    </button>
                    {% include "password_required_modal.html" %}
                </div>

                {# place a breakpoint so that there would only be 4 councils per row for lg and up #}
                {# and 2 councils per row for md #}
                {% if loop.index is divisibleby 2 %}
                <!-- Force next columns to break to new line at md breakpoint -->
                <div class="w-100 d-none d-md-block d-lg-none"></div>
                {% endif %}

                {% if loop.index is divisibleby 4 %}
                <!-- Force next columns to break to new line at lg breakpoint and up -->
                <div class="w-100 d-none d-lg-block"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row no-gutters justify-content-center mt-5">
        <div class="col-md-12 col-lg-9 col-xl-7">
            <h1 class="h1-responsive card-title font-weight-bold text-center">Additional Documents</h1>
            <div class="row no-gutters justify-content-center mt-5">
                <div class="col-10 col-sm-7 col-md-2 text-center">
                    <a class="black-text" href="{{ url_for('static', filename='files/Delegate Committee Allocations.pdf') }}">
                        <i class="fas fa-file-pdf fa-7x"></i>
                    </a>
                    <p class="file_description mt-4">Committee Allocations</p>
                </div>

                <div class="col-10 col-sm-7 col-md-2 text-center">
                    <a class="black-text" href="{{ url_for('static', filename='files/Rules of Procedure.pdf') }}">
                        <i class="fas fa-file-pdf fa-7x"></i>
                    </a>
                    <p class="file_description mt-4">Rules of Procedure</p>
                </div>

                <div class="col-10 col-sm-7 col-md-2 text-center">
                    <a class="black-text" href="{{ url_for('static', filename='files/Delegate Position Paper Guidelines.pdf') }}">
                        <i class="fas fa-file-pdf fa-7x"></i>
                    </a>
                    <p class="file_description mt-4">Position Paper Guidelines</p>
                </div>

                <div class="col-10 col-sm-7 col-md-2 text-center">
                    <a class="black-text" href="{{ url_for('static', filename='files/Sample Position Paper.pdf') }}">
                        <i class="fas fa-file-pdf fa-7x"></i>
                    </a>
                    <p class="file_description mt-4">Sample Position Paper</p>
                </div>

                <div class="col-10 col-sm-7 col-md-2 text-center">
                    <a class="black-text" href="{{ url_for('static', filename='files/RVMUN19 External Delegate Training.pdf') }}">
                        <i class="fas fa-file-pdf fa-7x"></i>
                    </a>
                    <p class="file_description mt-4">Delegate Training Slides</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        {% for council in councils %}
        {% if form.file_identifier.data and council in form.file_identifier.data %}
            $("#password-{{ council }}").modal('show');
        {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}