{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            {% for post in embed_htmls %}
            <div class="row justify-content-center">
                {{ post }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
